/* BODY */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body,
html {
  background: black;
  color: #e1c48a;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

/* MAIN - HOME */
.locations {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .locationsDiv{
  background-color: white;
} */

.locationsPic {
  height: 320px;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
}

/*PROJECTS - HOME */
.projectImage {
  border: 1px solid #e1c48a; /* width: 90%; */
  display: flex;
  justify-content: center;
}

.locationsPic:hover {
  cursor: pointer;
  color: black;
}

.locationsPic {
  opacity: 1;
  display: block;
  /* width: 100%; */
  /* height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text {
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  color: #e1c48a;
}

.introText {
  text-transform: uppercase;
}
/* NAV */

.nav {
  background: #e1c48a !important;
}

/* FORM  */

.form {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .form {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type='text'] {
  background-color: #e1c48a;
  color: black;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 5px;
  border: none;
}

input[type='submit'] {
  background-color: #e1c48a;
  display: flex;
  align-items: flex-start;
  height: 30px;
  /* width: 60px; */
  border-radius: 5px;
  border: none;
}

input[type='submit']:hover {
  background-color: #e2b354;
  cursor: pointer;
  color: white;
}

/* SOCIAL ICONS */

.socialIcon {
  border-radius: 4px;
  /* padding: 8px; */
  /* background-color: #e1c48a; */
  border-color: #e1c48a;
  margin: 7px;
  margin-bottom: 0;
}

/* Footer CSS */
.footer {
  bottom: 15px;
  height: 40px;
  margin-top: 40px;
  text-align: center;
  vertical-align: middle;
  position: aboslute;
  width: 100%;
}
