/* BODY */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body,
html {
  margin: 3%;
  background: black;
  color: #e1c48a;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  margin: 40px;
}

/* MAIN - HOME */

.homeLogo{
  width: 20%;
  margin: 5%;
}

@media (max-width: 1000px) {
  .homeLogo{
    margin-top: 15%;
    width: 50%;
  }
  
}
.locations {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.bookNowButtonDiv{
  background-color: #e1c48a;
  border-radius: 5px;
  margin: 20px 25% 20px 25%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.bookNowButton{
    position: relative;
    width: 90%;
    font-size: 35px;
    border: none;
    color: black;
}

.bookNowButton:hover {
  color: white;
  text-decoration: none;
}
.bookNowButtonDiv:hover{
  background-color: #e2b354;
  cursor: pointer;
  color: white;

}
.locationsPic {
  height: 320px;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
}

.locationsPic:hover {
  transform: scale(1.1);
}

/*PROJECTS - HOME */
.projectImage {
  margin: 10px;
  width: 98vw;  
  /* border: 1px solid #e1c48a; width: 90%; */
  display: flex;
  justify-content: center;
}

.locationsPic:hover {
  cursor: pointer;
  color: black;
}

.locationsPic {
  opacity: 1;
  display: block;
  /* width: 100%; */
  /* height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.locationText {
  font-size: 20px;
  padding: 16px 32px;
  text-decoration: none;
  color: #e1c48a;
}

.introText {
  text-transform: uppercase;
}

/* PROJECTS LINK PIC */
.container {
  position: relative;
  /* width: 50%; */
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: .8;
}

.text {
  opacity: 10;
  color: #e1c48a;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* NAV */

.nav {
  background: black !important;
  margin: 0;
}

.navLogo{
  width: 45px;
}

.nav-link,.navbar-light, .navbar-nav{
  color: #e1c48a !important;
}

.navbar-toggler-icon{
  background: #e1c48a !important;
}
/* FORM  */

.form {
  /* border: 1px solid yellow; */
  margin: 40px;
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .form {
    /* border: 1px solid yellow; */

    display: flex;
    flex-direction: column;
    align-items: center;
  }

}



input[type='text']{
  background-color: #e1c48a;
  color: black;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 5px;
  border: none;
}

textarea[type='text'] {
  background-color: #e1c48a;
  color: black;
  border-radius: 5px;
  width: 430px;
  min-height: 35px;
  margin-bottom: 5px;
  border: none;
}

input[type='submit'] {
  background-color: #e1c48a;
  display: flex;
  align-items: flex-start;
  height: 30px;
  /* width: 60px; */
  border-radius: 5px;
  border: none;
}

input[type='submit']:hover {
  background-color: #e2b354;
  cursor: pointer;
  color: white;
}

/* SOCIAL ICONS */

.socialIcon {
  border-radius: 4px;
  /* padding: 8px; */
  /* background-color: #e1c48a; */
  border-color: #e1c48a;
  margin: 7px;
  margin-bottom: 0;
}

/* Footer CSS */
.footer {
  bottom: 15px;
  height: 40px;
  margin-top: 40px;
  text-align: center;
  vertical-align: middle;
  position: aboslute;
  width: 100%;
}

/* COMPANY VIDEO */

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.commercialsDiv{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  /* margin-bottom: 0; */
  /* justify-content: center; */
  /* word-wrap: wrap; */
}

@media (max-width: 1000px) {
  .commercialsDiv{
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
  }
  
}
/* .iframe-container-projects{
  position: relative;
  width: 100%;
  padding-bottom: 50%;  
  height: 0;
}
.iframe-container-projects iframe{
   position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}  */


