@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body, html{
  background: black;
  color: #E1C48A;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.locations{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .locationsDiv{
  background-color: white;
} */

.locationsPic{
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.projectImage{
  background-color: white;
  /* width: 90%; */
  display: flex;
  justify-content: center;
}

/* .nav{
  background: #E1C48A !important;
} */

/* Footer CSS */
.footer{
   bottom : 15px;  
   height : 40px;  
   margin-top : 40px;  
   text-align: center;  
   vertical-align: middle; 
   position: aboslute;
   width:100%;
}